sites-56/carrera/documentos/marainformacintcnicaCarreraAlex/WebSrvValidarInformacion.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="WebSrvValidarInformacion" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="WebSrvValidarInformacion" xmlns:intf="WebSrvValidarInformacion" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="autentificarRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validadInformacionResponse">

      <wsdl:part name="validadInformacionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validadInformacionRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:string"/>

      <wsdl:part name="in4" type="xsd:string"/>

      <wsdl:part name="in5" type="xsd:string"/>

      <wsdl:part name="in6" type="xsd:string"/>

      <wsdl:part name="in7" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="pingResponse">

      <wsdl:part name="pingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="pingRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="autentificarResponse">

      <wsdl:part name="autentificarReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="WebSrvValidarInformacion">

      <wsdl:operation name="ping" parameterOrder="in0">

         <wsdl:input message="impl:pingRequest" name="pingRequest"/>

         <wsdl:output message="impl:pingResponse" name="pingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="autentificar" parameterOrder="in0 in1">

         <wsdl:input message="impl:autentificarRequest" name="autentificarRequest"/>

         <wsdl:output message="impl:autentificarResponse" name="autentificarResponse"/>

      </wsdl:operation>

      <wsdl:operation name="validadInformacion" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7">

         <wsdl:input message="impl:validadInformacionRequest" name="validadInformacionRequest"/>

         <wsdl:output message="impl:validadInformacionResponse" name="validadInformacionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebSrvValidarInformacionSoapBinding" type="impl:WebSrvValidarInformacion">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ping">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="pingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WebSrvValidarInformacion" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="autentificar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="autentificarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="autentificarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WebSrvValidarInformacion" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validadInformacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validadInformacionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gms" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validadInformacionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="WebSrvValidarInformacion" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebSrvValidarInformacionService">

      <wsdl:port binding="impl:WebSrvValidarInformacionSoapBinding" name="WebSrvValidarInformacion">

         <wsdlsoap:address location="http://www.rfea.es/rfeaCarnet/services/WebSrvValidarInformacion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
